.archive-info {
    margin: 6em 0;
    padding: 2em 0;
    border-bottom: 3px solid #1f1f1f;
    border-top: 3px solid #1f1f1f;
}

.archive-title {
    font: bold 1.2em/1 "Arimo", sans-serif;
    letter-spacing: .05em;
    text-transform: lowercase;
}
.archive-title a{
    color: #1f1f1f;
}
.archive-title .separator{
    font-weight: normal;
    color: #ccc;
}

.catchphrase {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -.05em;
    margin-bottom: .5em;
}

.archive-note {
    padding-top: 12em;
}

.article-type-post .archive-info .catchphrase {
    display: none;
}

@media screen and (min-width: 960px) {

    /* 7 items; content:space=8:1 */
    .archive .post {
        width: 12.7%;
        margin-right: 1.58%;
    }

    .archive {
        margin-right: -1.58%;
    }

}


@media screen and (min-width: 960px) and (max-width: 1440px) {

    /* 5 items; content:space=8:1 */
    .archive .post {
        width: 17.78%;
        margin-right: 2.22%;
    }

    .archive {
        margin-right: -2.22%;
    }

}

@media screen and (max-width: 959px) {

    /* 3 items; content:space=8:1 */
    .archive .post {
        width: 29.63%;
        margin-right: 3.7%;
    }

    .archive {
        margin-right: -3.7%;
    }

}