h1.article-tit, .article-cont h1 {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 2em;
}

.article-gallery {
    margin-bottom: 2em;
}

.article-gallery-img {
    display: block;
    max-width: 100%;
}

.article-cont h4,.article-cont h5 {
    margin: 1em 0;
}

.article-cont p,.article-cont ul {
    margin: 0 0 1em;
    line-height: 1.5;
}

.article-cont ul {
    list-style: inside;
}

.article-cont blockquote {
    display: block;
    padding: 0 0 0 1em;
    border-left: .2em solid #ccc;
}

.article-section{
    font-size: .9em;
    letter-spacing: .1em;
    padding: 1em;
    border: .22em solid #4d4d4d;
    margin-bottom: 2em;
}

.article-section h5{
    letter-spacing: .4em;
    text-transform: uppercase;
    text-decoration: underline;
}

.text-extralarge{
    font-size: 3em;
}
.text-large{
    font-size: 2em;
}

.article-footer {
    font-size: .8em;
}

.article-footer section {
    padding-bottom: 1em;
}

@media screen and (min-width: 960px) {

    .article-cont {
        max-width: 24em;
    }
}

@media screen and (max-width: 959px) {

    .article-cont {
        max-width: 100%;
    }
}