h1.article-tit, .article-cont h1 {
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 2em;
}

.article-gallery {
    margin-bottom: 2em;
}

.article-gallery-img {
    display: block;
    max-width: 100%;
}

.article-cont h4 {
    margin: 1em 0;
}

.article-cont p {
    margin: 0 0 1em;
    line-height: 1.5;
}

.article-cont li {
    margin-bottom: 2.5em;
}

.article-cont li h4 {
    margin-bottom: .75em;
}

.article-cont li li {
    font-size: .9em;
    letter-spacing: .01em;
    margin-bottom: .5em;
    line-height: 1.15;
}


.article-footer {
    font-size: .8em;
}

.article-footer section {
    padding-bottom: 1em;
}

@media screen and (min-width: 960px) {

    .article-cont {
        max-width: 33em;
    }
}

@media screen and (max-width: 959px) {

    .article-cont {
        max-width: 100%;
    }
}