.header {
    font-size: 1.1em;
    padding: 2.4em 3.125% 1.2em;
    border-bottom: 1px solid #ccc;
}
.header,.footer .archives{
    color: #ccc;
}
.header a, .footer a {
    color: #000;
}
.header a.navi:hover, .footer a:hover {
    text-decoration: underline;
}

.header .logo {
    font: bold 1.62em/1 "Open Sans Extrabold", sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-right: 1em;
}

.header .navi {
    font: bold 1em "Open Sans", sans-serif;
    letter-spacing: .06em;
    text-transform: lowercase;
    color: #1f1f1f;
}

footer.footer {
    font-size: .8em;
    clear: both;
    border-top: 1px solid #ccc;
    background: #1f1f1f;
    color: #fff;
}

.footer .archives {
    padding: 4em 3.125% 3em;
    font: bold 1em "Open Sans", sans-serif;
    background: #fff;
}
.footer .archive-tit{
    font-size: 1.62em;
    margin-right: 1em;
}
.footer .archives .archive-link {
    letter-spacing: .2em;
    color: #1f1f1f;
}

.footer .copyright {
    font: bold 1em "Open Sans Extrabold", sans-serif;
    letter-spacing: .2em;
    text-align: center;
    padding: 3em 3.125% 2em;
}


@media screen and (min-width: 960px) {
    .header {
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media screen and (max-width: 959px) {
    .header .logo {
        display: block;
        margin-bottom: .5em;
    }
}