.header {
    padding: 2em 3.125%;
    border-bottom: 1px solid #ccc;
}

.header a {
    color: #000;
}

.header .logo {
    font: bold 1.6em/1 "Open Sans Extrabold", sans-serif;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.header .navi {
    font: bold 1em "Open Sans", sans-serif;
    letter-spacing: .06em;
    text-transform: lowercase;
    color: #1f1f1f;
}
.header .navi:hover{
    text-decoration: underline;
    opacity: 1;
}
@media screen and (min-width: 960px) {
    .header {
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media screen and (max-width: 959px) {
    .header .logo {
        display: block;
        margin-bottom: 1em;
    }
}