.header {
    padding: 2em 3.125%;
    border-bottom: 1px solid #ccc;
}

.header a {
    color: #000;
}

.header .logo {
    font: bold 1.6em/1 "Open Sans Extrabold", sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.header .tag-list {
    font: bold 1em "Open Sans", sans-serif;
    text-transform: lowercase;
    letter-spacing: .05em;
}


.header {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.header .tag-list {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.header .tag-list-item {
    padding-right: .6em;
    border-left: .5em solid #000;
    padding-left: .6em;
}


@media screen and (min-width: 960px) {
    .header {
        flex-wrap: nowrap;
    }

    .header .tag-list {
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 959px) {
    .header {
        flex-wrap: wrap;
    }

    .header .tag-list {
        flex-wrap: wrap;
    }
}