* {
    margin: 0;
    padding: 0;
}

ul, ol, menu, dir {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

hr {
    margin: 4em 0;
}

a {
    color: #8c8c8c;
    text-decoration: none;
}

body {
    color: #000;
    font-family: "Noto Sans", sans-serif;
    margin: 0 5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arimo", sans-serif;
    font-weight: bold;
}

:lang(en), :lang(en-GB), :lang(en-US), :lang(en-IE), :lang(de), :lang(de-CH), :lang(de-AT), :lang(sv), :lang(da), :lang(is), :lang(fi), :lang(nb), :lang(fr), :lang(fr-BE), :lang(es), :lang(es-AR), :lang(pt), :lang(pt-BR), :lang(it), :lang(ro), :lang(pl), :lang(ru), :lang(ru-RU), :lang(mn-MN), :lang(el), :lang(tr), :lang(tl), :lang(kk), :lang(vi) {
    font-family: "Noto Sans", "Segoe UI", sans-serif;
}

:lang(zh), :lang(zh-TW), :lang(zh-HK) {
    font-family: "Noto Sans", "Noto Sans CJK TC", "Dengxian", "Microsoft JhengHei", sans-serif;
}

:lang(zh-CN), :lang(zh-SG) {
    font-family: "Noto Sans", "Noto Sans CJK SC", "Dengxian", "Microsoft YaHei", sans-serif;
}

:lang(jp) {
    font-family: "Noto Sans", "Noto Sans CJK JP", "Yu Gothic", "Meiryo", sans-serif;
}

:lang(ko) {
    font-family: "Noto Sans", "Noto Sans CJK KR", "Malgun Gothic", sans-serif;
}

:lang(mn), :lang(mnc) {
    font-family: "Noto Sans Mongolian", "Mongolian Baiti", sans-serif;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    layout-flow: vertical-ideographic;
}

:lang(mn-MN) {
    font-family: "Noto Sans", sans-serif;
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    layout-flow: horizontal;
}

:lang(bo) {
    font-family: "Noto Sans Tibetan", sans-serif;
}

:lang(ar), :lang(fa), :lang(ug), :lang(ur) {
    font-family: "Noto Kufi Arabic", sans-serif;
}

:lang(he) {
    font-family: "Noto Sans Hebrew", sans-serif;
}

:lang(hi), :lang(hi-IN) {
    font-family: "Noto Sans Devanagari", sans-serif;
}

:lang(th) {
    font-family: "Noto Sans Thai", sans-serif;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

nav .page-number {
    margin: 0 2em 0 0;
}

footer {
    clear: both;
    padding: 8em 0;
    margin-top: 16em;
    font-size: .75em;
    letter-spacing: .5em;
    text-align: right;
}

.content {
    padding: 4em 0;
    overflow-x: hidden;
}

.content h2 {
    font-size: 2em;
    margin: 0 0 1em;
}

.content h2.t {
    margin: 4em 0;
}

.content h2.ti /*title-initial*/
{
    margin: 0 0 4em;
}

.content h3 {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.content h3 span {
    display: block;
}

.content h3 sub {
    display: block;
    font: .5em "Noto Sans Mono", monospace;
    letter-spacing: 0;
}


sup {
    display: block;
    font-weight: normal;
}

.content h4 {
    font-size: 1.2em;
    margin-bottom: .3em;
}

.content ul {
    margin-bottom: 4em;
}


.portal h2 {
    font-size: 1.4em;
    letter-spacing: .2em;
    margin-bottom: .5em;
}

.portal a {
    color: #000;
}

#page-nav {
    margin-top: 3.2em;
}

#page-nav .page-number {
    padding: 0 .25em;
}

#page-nav .current {
    font-weight: bold;
}

table .title {
    font-weight: bold;
    letter-spacing: -.05em;
}

table p {
    text-indent: 1em;
    line-height: 1;
    margin: 0;
}

.text p {
    margin: 1em 0;
    text-indent: 2em;
    line-height: 1.62;
}

.text p a {
    text-decoration: underline;
}

.text .info {
    margin: 16em 1em;
    font-size: .8em;
    letter-spacing: .4em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin-bottom: 4em;
}

td {
    border: 1px solid #000;
    padding: .25em;
}

.text li h4 {
    font-size: 1.25em;
    line-height: 1.25em;
    letter-spacing: -.02em;
}


.text li {
    padding: 2em 0;
    position: relative;
}

.gallery {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.gallery li a {
    display: block;
}

.gallery li a h4 {
    color: #000;
    line-height: 1.2;
    margin-bottom: .4em;
}

.gallery li p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 201708：uniformed style for list, using class ".l" */
.l {
    font-size: .9em;
}

.l li {
    padding-bottom: 4em;
    position: relative;
}

.l .title {
    font-size: 1.4em;
    line-height: 1.2;
    margin-bottom: .5em;
}

.l.logbook-l {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
}

.l.logbook-l li {
    padding-right: 3em;
}


li .i {
    font-size: .9em;
    margin-bottom: 1.2em;
    letter-spacing: .2em;
    color: #4d4d4d;
}

em.lan-code {
    font: normal small-caps bold .75em "Noto Sans Mono", monospace;
    color: #ccc;
}

li .i span {
    margin-right: 1.5em;
}

li .i p {
    letter-spacing: 0;
    margin-top: 1em;
}

.l .series {
    font-size: .8em;
    line-height: 1.25;
}

.l .series a {
    padding: 0;
    margin-right: 1.5em;
}

.l .series .project {
    font-style: italic;
}

.l img {
    max-width: 100%;
    margin-bottom: .8em;
}

.l .tags {
    margin-top: .8em;
    font-size: .9em;
    letter-spacing: .2em;
    color: #4d4d4d;
}

.l .tags span {
    margin-right: 1.5em;
}

.l .color-block {
    font: bold 1.2em "Arimo", sans-serif;
    float: left;
    padding: 2em;
}

.l .color-block .color-code {
    font: normal .75em "Noto Sans Mono", monospace;
    text-transform: uppercase;
    display: block;
}


.chk.il li {
    float: left;
    min-height: 1.5em;
    padding-bottom: .62em;
    margin-right: 2em;
    letter-spacing: -.02em;
    position: relative;
}

.chk.il h4 {
    font-size: 1.2em;
    line-height: 1;
    letter-spacing: -.075em;
    display: inline;
}

.chk.il h4 em {
    font-size: .75em;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -.05em;
}

.project-info {
    padding: 4em 0;
    margin-bottom: 8em;
    border-top: .25em solid #333;
    border-bottom: .25em solid #333;
}

.project-info h2 :lang(en) {
    font-family: "Arimo", sans-serif;
    text-transform: uppercase;
}

.project-info p {
    font-weight: bold;
    margin-bottom: .5em;
}

/* l-p: list with picture as the main visual element, e.g. project list, xiaosheng list, illustration list */

.l-p {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
}

.l-p li {
    margin: 0 8em 2em 0;
}

.l-p a {
    display: block;
    color: #4d4d4d;
}

.l-p img {
    display: block;
    margin-bottom: 1em;
}


.illustration-l {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
}

.illustration-l li {
    border: .25em solid #333;
    padding: 2.5em;
    margin: 0 4em 4em 0;

}

.illustration-l li .i {
    letter-spacing: 0;
}

.illustration-l li img {
    padding-bottom: 2.5em;
    border-bottom: .25em solid #333;
}

.stats {
    clear: both;
}

.stats li {
    float: left;
    margin: 0 4em 0 0;
}

.stats em {
    font-style: normal;
    font-weight: bold;
    display: block;
    font-size: 2em;
}


/*essay list*/
.archives article {
    padding: .5em 0;
}

.archive-article-date {
    font-size: .8em;
}

.archive-article-header h1 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
}

.archive-bg .archives article a {
    color: #fff;
}

.header nav {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.header nav a {
    display: block;
    color: #000;
    font: bold 1em/2em "Arimo", sans-serif;
    letter-spacing: .5em;
}

.header nav a.logo {
    margin: 4em 0;
}

@media screen and (min-width: 960px) {

    .header {
        padding: 4em 0 8em;
    }

    .l .series a {
        white-space: nowrap;
    }

    /* style for: project gallery */
    /* 7 items; content:space=5:1 */
    .gallery li {
        width: 11.9%;
        margin-right: 2.38%;
    }

    .gallery {
        margin-right: -2.38%;
    }

    .illustration-l li img {
        height: 20em;
    }
}


@media screen and (min-width: 960px) and (max-width: 1440px) {

    /* style for: project gallery */
    /* 5 items; content:space=6:1 */
    .gallery li {
        width: 17.14%;
        margin-right: 2.86%;
    }

    .gallery {
        margin-right: -2.86%;
    }
}

@media screen and (max-width: 959px) {

    .header {
        padding: 2em 0 6em;
    }

    .header nav a img {
        display: block;
        max-width: 100%;
    }

    footer {
        text-align: center;
    }

    .portal nav a {
        display: block;
    }

    .chk.il li {
        float: none;
        padding-bottom: .5em;
        margin-right: 0;
        letter-spacing: 0;
    }

    li .i span {
        display: block;
        margin: 0;
    }

    .l img {
        display: block;
        margin: 0 auto .8em;
    }


    .l-p.illustration-l li {
        margin: 0 0 4em 0;
    }


    /* style for: project gallery */
    /* 3 items; content:space=7:1 */
    .gallery li {
        width: 29.16%;
        margin-right: 4.17%;
    }

    .gallery {
        margin-right: -4.17%;
    }

    .l-p {
        flex-flow: column nowrap;
        align-items: center;
    }

    .l-p li {
        margin: 4em 0 4em 0;
        text-align: center;
    }

    .l-p img {
        max-width: 100%;
        margin: 0 auto 1em;
    }

    .illustration-l {
        flex-flow: column wrap;
    }
}

.color-White {
    color: #fff;
}

.color-Grey-EL {
    color: #ebebeb;
}

.color-Grey-L {
    color: #ccc;
}

.color-Grey-R {
    color: #8c8c8c;
}

.color-Grey-D {
    color: #737373;
}

.color-Grey-ED {
    color: #4d4d4d;
}

.color-Black {
    color: #000;
}

.bgcolor-White {
    background: #fff;
}

.bgcolor-Grey-EL {
    background: #ebebeb;
}

.bgcolor-Grey-L {
    background: #ccc;
}

.bgcolor-Grey-R {
    background: #8c8c8c;
}

.bgcolor-Grey-D {
    background: #737373;
}

.bgcolor-Grey-ED {
    background: #4d4d4d;
}

.bgcolor-Black {
    background: #000;
}

/*svg icons*/
.si {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -.125em;
}