* {
    margin: 0;
    padding: 0;
}

ul, ol, menu, dir {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

hr {
    margin: 4em 0;
}

a {
    color: #8c8c8c;
    text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .tit a {
    color: #000;
}

a:hover {
    opacity: .5;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.cont{
    padding: 0 3.125% 8em;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
}

:lang(zh), :lang(zh-TW), :lang(zh-HK) {
    font-family: "Noto Sans", "Noto Sans CJK TC", "Dengxian", "Microsoft JhengHei", sans-serif;
}

:lang(zh-CN), :lang(zh-SG) {
    font-family: "Noto Sans", "Noto Sans CJK SC", "Dengxian", "Microsoft YaHei", sans-serif;
}

:lang(jp) {
    font-family: "Noto Sans", "Noto Sans CJK JP", "Yu Gothic", "Meiryo", sans-serif;
}

:lang(ko) {
    font-family: "Noto Sans", "Noto Sans CJK KR", "Malgun Gothic", sans-serif;
}

:lang(mn), :lang(mnc) {
    font-family: "Noto Sans Mongolian", "Mongolian Baiti", sans-serif;
    -webkit-writing-mode: vertical-lr;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    layout-flow: vertical-ideographic;
}

:lang(mn-MN) {
    font-family: "Noto Sans", sans-serif;
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    layout-flow: horizontal;
}

:lang(bo) {
    font-family: "Noto Sans Tibetan", sans-serif;
}

:lang(ar), :lang(fa), :lang(ug), :lang(ur) {
    font-family: "Noto Kufi Arabic", sans-serif;
}

:lang(he) {
    font-family: "Noto Sans Hebrew", sans-serif;
}

:lang(hi), :lang(hi-IN) {
    font-family: "Noto Sans Devanagari", sans-serif;
}

:lang(th) {
    font-family: "Noto Sans Thai", sans-serif;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

nav .page-number {
    margin: 0 2em 0 0;
}

header .logo{
    font: bold 1.6em/3 "Open Sans Extrabold", sans-serif;
    color: #000;
    letter-spacing: .16em;
}

footer.footer {
    padding-bottom: 2em;
    clear: both;
    font-size: .75em;
    letter-spacing: .5em;
    text-align: center;
}

.sitemap {
    padding: 4em 3.125%;
    margin-bottom: 4em;
    text-align: left;
    letter-spacing: 0;
}

.sitemap .archive-list {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
}
.sitemap .archive-list-item{
    margin-right: 2em;
}

.content {
    overflow: hidden;
}


h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}


sub, sup {
    display: block;
}


#page-nav {
    margin-top: 3.2em;
}

#page-nav .page-number {
    padding: 0 .25em;
}

#page-nav .current {
    font-weight: bold;
}

table .title {
    font-weight: bold;
    letter-spacing: -.05em;
}

table p {
    text-indent: 1em;
    line-height: 1;
    margin: 0;
}


.project-detail .article-gallery-img img {
    max-width: 100%;
    padding-bottom: 2em;
}

.text p {
    margin: 1em 0;
    line-height: 1.62;
}

.text p a {
    text-decoration: underline;
}

.text .info {
    margin: 16em 1em;
    font-size: .8em;
    letter-spacing: .4em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    margin-bottom: 4em;
}

td {
    border: 1px solid #000;
    padding: .25em;
}

.text li h4 {
    font-size: 1.25em;
    line-height: 1.25em;
    letter-spacing: -.02em;
}


.text li {
    padding: 2em 0;
    position: relative;
}

.archive {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    overflow: hidden;
}

.archive .post a {
    display: block;
}

.archive .post a h4 {
    color: #000;
    line-height: 1.2;
    margin-bottom: .4em;
}

.archive .post p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 201708：uniformed style for list, using class ".l" */
.l {
    font-size: .9em;
}

.l li, .l .post {
    padding-bottom: 4em;
    position: relative;
}

.l .title {
    font-size: 1.4em;
    line-height: 1.2;
    margin-bottom: .5em;
}

.l.logbook-l {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
}

.l.logbook-l li {
    padding-right: 3em;
}


.i {
    font-size: .8em;
    margin-bottom: 1.2em;
    letter-spacing: .08em;
}

.i span {
    margin-right: 1em;
}

.i p {
    letter-spacing: 0;
    margin-top: 1em;
}

.l .series {
    font-size: .8em;
    line-height: 1.25;
}

.l .series a {
    padding: 0;
    margin-right: 1.5em;
}

.l .series .project {
    font-style: italic;
}

.l img {
    max-width: 100%;
    margin-bottom: .8em;
}

.l .color-block {
    float: left;
    padding: 1em 2em;
}

.l .color-block .color-code {
    font: .75em "Noto Sans Mono", monospace;
    text-transform: uppercase;
    display: block;
}

.chk.il li {
    float: left;
    min-height: 1.5em;
    padding-bottom: .62em;
    margin-right: 2em;
    letter-spacing: -.02em;
    position: relative;
}

.chk.il h4 {
    font-size: 1.2em;
    line-height: 1;
    letter-spacing: -.075em;
    display: inline;
}

.chk.il h4 em {
    font-size: .75em;
    font-weight: normal;
    font-style: normal;
    letter-spacing: -.05em;
}


/* style for project-info */
.project-info {
}

.project-info-lite .intro {
    display: none;
}

.project-info .tit {
    font: bold 4.8em/1 "Open Sans", sans-serif;
    letter-spacing: -.048em;
    text-transform: lowercase;
}

.project-info .intro .subtit {
    font-weight: bold;
    padding-right: 1em;
    color: #000;
}

.project-info p {
    margin-bottom: 1em;
}

.project-info .navi {
    margin-top: 4em;
}

.project-info .dash {
    display: none;
}

.project-list {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    margin-top: 10em;
}

.project-list li {
    margin: 0 10em 5em 0;
}

.project-list h4 {
    font-size: 1.62em;
    line-height: 1;
    letter-spacing: -.03em;
    text-transform: lowercase;
    margin: 1em 0 .5em;
}

.project-list .infos {
    letter-spacing: 0;
}


.stats {
    clear: both;
}

.stats li {
    float: left;
    margin: 0 4em 0 0;
}

.stats em {
    font-style: normal;
    font-weight: bold;
    display: block;
    font-size: 2em;
}


.header {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    padding-top: 3.2em;
}


@media screen and (min-width: 960px) {

    .header {
    }

    .l .series a {
        white-space: nowrap;
    }

    /* 7 items; content:space=8:1 */
    .archive .post {
        width: 12.7%;
        margin-right: 1.58%;
    }

    .archive {
        margin-right: -1.58%;
    }

    .project-info {
        display: flex;
        display: -webkit-flex;
        flex-flow: row wrap;
        margin-bottom: 8em;
    }

    .project-info .tit {
        width: 45.4%;
        padding-right: 4.6%;
    }

    .project-info-lite .tit {
        width: 100%;
        padding-right: 0;
    }

    .project-info .intro {
        width: 45.4%;
        padding-left: 4.6%;
        border-left: .25em solid #333;
        margin: 0 -.25em 0 0;
    }

    .project-detail {
        display: flex;
        display: -webkit-flex;
        flex-flow: row wrap;
    }

    .project-detail .article-gallery, .project-detail .article-body {
        width: 30%;
        padding-right: 3%;
    }

    .project-detail .article-footer {
        width: 34%;
    }


    .sitemap {
        display: flex;
        display: -webkit-flex;
        flex-flow: row wrap;
    }

}

@media screen and (min-width: 960px) and (max-width: 1440px) {

    /* 5 items; content:space=8:1 */
    .archive .post {
        width: 17.78%;
        margin-right: 2.22%;
    }

    .archive {
        margin-right: -2.22%;
    }


}

@media screen and (max-width: 959px) {

    .header {
    }

    .header nav a img {
        display: block;
        max-width: 100%;
    }


    .chk.il li {
        float: none;
        padding-bottom: .5em;
        margin-right: 0;
        letter-spacing: 0;
    }

    .i span {
        display: block;
        margin: 0;
    }

    .l img {
        display: block;
        margin: 0 auto .8em;
    }


    /* 3 items; content:space=8:1 */
    .archive .post {
        width: 29.63%;
        margin-right: 3.7%;
    }

    .archive {
        margin-right: -3.7%;
    }

    .project-info .tit{
        margin-bottom: .5em;
    }

    /* 202207 list of projects */
    .project-list {
        flex-flow: column nowrap;
        align-items: center;
    }

    .project-list li {
        margin: 0 0 10em 0;
        text-align: center;
    }

    .project-list img {
        max-width: 100%;
        margin: 0 auto;
    }

    .project-info-lite .dash, .project-info-full .dash {
        display: block;
    }

    .dash {
        font-size: 5em;
    }
}

.color-White {
    color: #fff;
}

.color-Grey-EL {
    color: #ebebeb;
}

.color-Grey-L {
    color: #ccc;
}

.color-Grey-R {
    color: #8c8c8c;
}

.color-Grey-D {
    color: #737373;
}

.color-Grey-ED {
    color: #4d4d4d;
}

.color-Black {
    color: #000;
}

.bgcolor-White {
    background: #fff;
}

.bgcolor-Grey-EL {
    background: #ebebeb;
}

.bgcolor-Grey-L {
    background: #ccc;
}

.bgcolor-Grey-R {
    background: #8c8c8c;
}

.bgcolor-Grey-D {
    background: #737373;
}

.bgcolor-Grey-ED {
    background: #4d4d4d;
}

.bgcolor-Black {
    background: #000;
}


.bgcolor-Red-R {
    background: #E13241;
}

.bgcolor-Red-L {
    background: #F0828C;
}

.bgcolor-Red-EL {
    background: #FFD2D7;
}

.bgcolor-Red-A {
    background: #FF4B7D;
}

.bgcolor-Orange-R {
    background: #EB6937;
}

.bgcolor-Orange-L {
    background: #FAAF82;
}

.bgcolor-Orange-EL {
    background: #FFE6D2;
}

.bgcolor-Orange-A {
    background: #FF912D;
}

.color-Orange-A {
    color: #FF912D;
}

.color-Orange-ED {
    color: #B93C05;
}

.bgcolor-Yellow-R {
    background: #FFC346;
}

.bgcolor-Yellow-L {
    background: #FFDC8C;
}

.bgcolor-Yellow-EL {
    background: #FFF0D2;
}

.bgcolor-Yellow-A {
    background: #FFF000;
}

.bgcolor-Turquoise-R {
    background: #3CBEB4;
}

.bgcolor-Turquoise-L {
    background: #87D7CD;
}

.bgcolor-Turquoise-EL {
    background: #CDF0E6;
}

.bgcolor-Turquoise-A {
    background: #00DCD2;
}

.color-Turquoise-A {
    color: #00DCD2;
}

.bgcolor-Purple-R {
    background: #87289B;
}

.bgcolor-Purple-L {
    background: #B48CCD;
}

.bgcolor-Purple-EL {
    background: #D7D2F0;
}

.bgcolor-Purple-A {
    background: #BE00DC;
}

.color-Purple-A {
    color: #BE00DC;
}

/*svg icons*/
.si {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -.125em;
}


.monospaced {
    font: bold small-caps .75em "Noto Sans Mono", monospace;
}

.tag-list-count,.category-list-count,.archive-list-count{
    padding-left: .5em;
    font-family: "Noto Sans Mono", monospace;
}